.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
Button.btn-block:hover {
  background-color: #68AE00;
}
Form.Group{
  background-color: #8C8C8C;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-tabs {
border-bottom:none !important; 
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border-bottom:1px solid #000;  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border-bottom:1px solid #000;
}
.absolute{
text-align: center;
padding-top:2%;
color: #7b7777;
min-height: 0px;
left: 16%;

}

.side-button  {
margin-left: 22%;
background-color: #199fd2;
padding: 6px 18px;
color: #fff;
text-transform: uppercase;
font-size: 15px;
border-radius: 50px;
border-top-left-radius: 0;
}
.side-button:hover{
background-color:#fff;
border:none;
transition: 0.7s ease in out;
color: #000;   
transition: all .2s cubic-bezier(.02,.54,.58,1);
}
.card1{
box-shadow: 7px 6px 6px 9px #f3f2f2;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition: 0.5s;
-o-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
}
.card1:hover{
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
-ms-transform: translateY(-10px);
-o-transform: translateY(-10px);
transform: translateY(-10px);
box-shadow: 0 0 20px rgba(0,0,0,.14); 
background-image: linear-gradient(145deg,#0039e4,#04dbf1);
}

.card-text1{
text-align: center;
color: #848080;
font-size: 15px;
}
.card1:hover .card-text1{
color:#fff;
}

.card1:hover .absolute{
color:#fff;
}
.card1:hover .main-head{
color:#fff !important;
}
.card1:hover .side-button{
background-color: #fff;
color:#000;
}

.card1:hover #right-icon{
background-color: #fff;
color:#000;
}
.cat-anchor{
padding: 3px 6px;
border: 1px solid;
margin: 3px 0px;
background-color: #fff;
}
.cat-anchor:hover{
color:#fff;
transition: 0.6s ease in out;
background-image: linear-gradient(145deg,#0039e4,#04dbf1);
}  
#right-icon{
padding-left: 7px; color: #fff; font-size:15px;
}
.side-button:hover #right-icon{
color:#000;
}
.latest{
text-align: center;
font-size: 34px;
color: #000;
width: 100%;
}
.border-b{
position: relative;
width: 9%;
padding: 6px 0px;
left: 12%;
border-radius: 6px;
border-bottom: 5px solid #187fe8; 
}
/**********************/
.cat-anchor1{
border-radius: 20px 0px 26px 0px;
padding: 3px 6px;
border: 1px solid;
margin: 3px 0px;
background-color: #fff; 

}


.card2{
box-shadow: 7px 6px 6px 9px #f3f2f2;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition: 0.5s;
-o-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
border: 2px dotted #cccc;
}
.side-button1  {
text-align: center;
justify-content: center;
display: flex;
/* background-color: #989a9a; */
padding: 15px 63px;
color: #fff;
text-transform: uppercase;
font-size: 15px;

/* border-radius: 50px; */
border-top-left-radius: 0;
}

.side-button1:hover{
background-color:#fff;
border:none;
transition: 0.7s ease in out;
color: #fff;   
transition: all .2s cubic-bezier(.02,.54,.58,1);
}
.main-head1{
font-size: 18px;
color: #ccc;
text-align: center;
color: #333638;
padding-top: 0%;


}
.absolute1{
float: left;
padding: 0;
width: 100%;
margin: 0;
background-image: linear-gradient(145deg,#0039e4,#04dbf1);
}


.absolute1:hover{
background-color: #fff;
border: 1px solid #000;
transition: 0.5s ease in out;


}
#right-icon1{
padding-left: 7px; color: #fff; font-size:15px;
padding-top: 3%;


}
.text-side1{
/* display: flex; */
/* text-align: center; */
position: relative;
color: #6b6262;
font-size: 16px;
justify-content: center;
/* z-index: 999; */
/* top: 13em; */
/* position: relative; */
left: 1%;


}
#icon1{
float: left;
padding-left: 25%;
padding-top: 16px;
font-size: 17px;
color: #545151;

}
.absolute1 :hover{
background-color: #fff;
transition: 0.3s ease in out;


}

.absolute1:hover .side-button1{
color:#000;


}
.absolute1:hover #right-icon1{
color:#000;


}



.card2 {
cursor: pointer;
position: relative;
padding: 10px 20px;
background: white;
font-size: 28px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
transition: all 1s;
}
.card2:after, .card2:before {
content: " ";
width: 10px;
height: 10px;
position: absolute;
border: 0px solid #fff;
transition: all 1s;
}
.card2:after {
top: -1px;
left: -1px;
border-top: 5px solid #187fe8;
border-left: 5px solid #187fe8;
}
.card2:before {
bottom: -1px;
right: -1px;
border-bottom: 5px solid #187fe8;
border-right: 5px solid #187fe8;
}
.card2:hover {
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.card2:hover:before, .card2:hover:after {
width: 100%;
height: 100%;
}

.faq-wrapper .card-header h5 button[aria-expanded="true"] {
  color:gray;
  background:none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.faq-wrapper .card-header h5 button {
  background: #f8f8f8;
  font-weight:0;
}

.site-wrapper-reveal{margin-bottom:0px !important}
.reveal-footer {
  position: unset !important;
  bottom: 0  !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1 !important;
}

@media(max-width:414px)
{
    #eluid17c69adb .grid-ibx__item
    {
            width: 50%!important;
    float: left!important;
    border: 1px solid #fff;
    }
    .sFooter
    {
            background: url(../public/assets/images/footer/1.jpg)!important;
    }
    .section--no,.kl-title-block
    {
    margin-top: 0px!important;
}
.kl-slideshow .kl-slideshow-safepadding{padding-top:5px!important;}
.eluid351b8e8c,.eluid9758ecdb{padding-bottom:15px!important;}
.eluidc2e825b0,.eluid8fb78e89
{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
}
.heateor_sss_button_instagram span.heateor_sss_svg,a.heateor_sss_instagram span.heateor_sss_svg{background:radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%)}
.heateor_sss_horizontal_sharing .heateor_sss_svg,.heateor_sss_standard_follow_icons_container .heateor_sss_svg{
color: #fff;
border-width: 0px;
border-style: solid;
border-color: transparent;
}
.eluid3acf7ab0 .tbk__title
{
    font-size:30px!important;
    color: #222!important;
}
.eluid20fdbe46 .tbk__title,.eluid351b8e8c .tbk__title,.eluid598c4b4a .tbk__title
{
    font-size:25px!important;
    color: #222!important;
}
.eluid3acf7ab0 .tbk__title {
    margin-bottom: 0px!important;
}
.grid-ibx--hover-shadow .grid-ibx__item:hover {
    box-shadow: 10px 8px 0px 0px rgb(8 101 206)!important;
    z-index: 1!important;
    border: none!important;
}
.kl-cta-ribbon .trisvg path, .kl-mask .bmask-customfill, .kl-slideshow .kl-loader svg path, .kl-slideshow.kl-loadersvg rect, .kl-diagram circle
{
    fill: #05448b!important;
}
.heateor_sss_horizontal_sharing .heateorSssTCBackground{
color:#666;
}
.heateor_sss_horizontal_sharing span.heateor_sss_svg:hover,.heateor_sss_standard_follow_icons_container span.heateor_sss_svg:hover{
border-color: transparent;
}
.heateor_sss_vertical_sharing span.heateor_sss_svg,.heateor_sss_floating_follow_icons_container span.heateor_sss_svg{
color: #fff;
border-width: 0px;
border-style: solid;
border-color: transparent;
}
.heateor_sss_vertical_sharing .heateorSssTCBackground{
color:#666;
}
.heateor_sss_vertical_sharing span.heateor_sss_svg:hover,.heateor_sss_floating_follow_icons_container span.heateor_sss_svg:hover{
border-color: transparent;
}
img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}